<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LifeSpot</title>
  <link href="../wwwroot/css/index.css" rel="stylesheet" type="text/css">

  <!-- Подключение Javascript внутри страницы
  <script> 
    // для получения пользовательского ввода самое простое - воспользоваться конструкцией prompt()
     let userName = prompt("Пожалуйста, введите ваше имя");
     alert(`Приветствуем, ${userName}. В вашем имени ${userName.length} символов`)
  </script>
  -->

  <!-- defer позволяет отложить выполнение скрипта до полной загрузки DOM (самой страницы) -->
  <!-- это нам необходимо, чтобы подсчитать общее количество элементов на ней -->
  <script type="text/javascript" defer src="../wwwroot/js/testing.js"></script>

</head>

<header id="header-index">
  <h1>LifeSpot - тестовая страница</h1>
  <p>Здесь можно экспериментировать с кодом</p>
  <input type="text" oninput="
   /* Обработчик ввода текста */
      " size=50%>
</header>

<!--SIDEBAR-->
<body>
  
</body>
<!--FOOTER-->

</html>
